<style>
   li {
    list-style-type: none; 
   }
 </style>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<ul>
<li><a href="http://www.belstat.gov.by/klassifikatory/obschegosudarstvennye-klassifikatory-respubliki-belarus-ispolzuemye-dlya-zapolneniya-gosudarstvennoi-statisticheskoi-otchetnosti/obschegosudarstvennyi-klassifikator-okrb-005-2011-vidy-ekonomicheskoi-deyatelnosti/voprosy-i-otvety-po-klassifikatsii-deyatelnosti-v-sootvetstvii-s-obschegosudarstvennym-klassifikatorom-okrb-005-2011-vidy-ekonomicheskoi-deyatelnosti/">ОКЭД – Общегосударственный классификатор
		 Республики Беларусь ОКРБ 
		 005-2011 «Виды экономической деятельности»
</li></a>
</ul>
