<p>
Стадии <sc_element sys_idtf = "planning">планирования</sc_element> при использовании <sc_element sys_idtf ="concept_critical_path">критического пути</sc_element>:<br>
<b>1. Цели, ограничения.</b> Установление <sc_element sys_idtf  = "objective">целей</sc_element> и определение границ проекта, которые, как правило, зависят от трех составляющих проектной реализации в виде <sc_element sys_idtf = "activity">деятельности</sc_element>, цены и качества, наличия сотрудников и специального оборудования и др.<br>
<b>2.</b> Определение проектных работ и <sc_element sys_idtf  = "task">задач</sc_element> и расчет их продолжительности.<br>
<b>3.</b> Анализ отношений операций, на основе которого разрабатывается специальный сетевой график, демонстрирующий указанные отношения.
</p>