<p>
<sc_element sys_idtf = "concept_critical_chain_methodology">Метод критической цепи</sc_element> базируется на методе <sc_element sys_idtf="concept_critical_chain">критической цепи</sc_element> и принципах теории ограничений, а также опирается на расчеты по зависимостям <sc_element sys_idtf = "concept_resources">ресурсов</sc_element>, рискам, неопределенностям.
</p>