<p>Метод критического пути характеризуется наличием отчетливого <sc_element sys_idtf  = "concept_critical_path">проектного пути</sc_element>, который сформирован самыми продолжительными работами.
</p>