<p>
<sc_element sys_idtf="concept_critical_chain">Критическая цепь</sc_element> - это <sc_element sys_idtf="concept_critical_path">критический путь</sc_element> с учетом ресурсных связей, то есть последовательность <sc_element sys_idtf="task">задач</sc_element>, которые не имеют запаса по времени выполнения и срыв их <sc_element sys_idtf="nrel_deadlines">срока</sc_element> срывает срок всего проекта.
</p>

