<p>
Суть <sc_element sys_idtf = "concept_critical_chain_methodology">метода критической цепи</sc_element> заключается в определении последовательности наиболее важных для проекта работ и <sc_element sys_idtf="concept_critical_task">критических задач</sc_element> и строгом соблюдении сроков их выполнения. Это позволяет не превышать отведенное для всего плана время.<br> Важные работы связываются между собой взаимосвязями; также учитываются имеющиеся административные силы и средства их ограничения.
</p>