<p>Команды обладают следующими характеристиками:<br>

- самоорганизованность. Никто (даже <sc_element sys_idtf="nrel_scrum_master">скрам-мастер</sc_element>) не может указывать команде, каким образом создавать готовые версии продукта; <br>
- <sc_element sys_idtf="concept_crossfunctionality">кросс-функциональность</sc_element>; <br>
- скрам не признает никаких других должностей в команде разработки, кроме как разработчик, невзирая на вид работы, выполняемой человеком; у этого правила нет исключений;<br>
- у команды разработки нет подкоманд, которые бы выполняли отдельные функции, как, к примеру, команда тестирования или бизнес-анализа;<br>
- отдельные члены команды разработки могут владеть специализированными знаниями в различных областях, однако ответственность лежит на всей команде разработки в целом.
</p>