<p>Канбан основан на четырёх основных принципах:<br>

<b>1) Опора на существующие методы разработки</b>. Канбан начинается с существующих методов разработки и стимулирует в них дополнительные изменения.<br>
<b>2) Предварительная договорённость о проведении важных изменений</b>.
Команда разработчиков должна учитывать, что постоянные изменения — это способ улучшить существующий процесс разработки, однако проведение глобальных перемен имеет большой риск. Канбан поощряет небольшие и эволюционные изменения.<br>
<b>3) Уважение к существующему порядку, ролям и обязанностям.</b><br>
<b>4) Поощрение инициативы</b>. Приветствуются проявления инициативы каждого разработчика.
</p>