<p><b>Основные принципы <sc_element sys_idtf  = "concept_lean_methodology">Lean</sc_element>:</b><br>
<b>определить, что создает ценность продукта с точки зрения конечного потребителя.</b> В организации может выполняться множество действий, которые не важны для потребителя. Только в том случае, когда организация точно знает, что необходимо потребителю, она может определить, какие процессы ориентированы на предоставление потребителю ценности, а какие нет.<br>
<b>определить все необходимые действия в цепочке производства продукции и устранить потери.</b> Для оптимизации работы и выявления потерь необходимо детально описать все действия от момента получения заказа, до поставки продукции потребителю. За счет этого можно определить потенциальные возможности для улучшения процессов.<br>
<b>перестроить действия в цепочке производства таким образом, чтобы они представляли собой поток работ.</b> Действия в процессах необходимо выстроить таким образом, чтобы между операциями не было ожиданий, простоев или иных потерь. Это может потребовать перепроектирования процессов или применения новых технологий. Все процессы должны состоять из действий, добавляющих ценность продукту.<br>
<b>делать только то, что необходимо конечному потребителю.</b> Организация должна выпускать только ту продукцию, и в таком количестве, которое необходимо конечному потребителю.<br>
<b>стремиться к совершенству за счет постоянного сокращения ненужных действий.</b> Реализация системы бережливого производства не может являться разовым мероприятием. Взявшись за внедрение этой системы необходимо постоянно совершенствовать работу за счет поиска и устранения потерь.
</p>