<p>Каждый проект должен включать в себя 7 следующих принципов (другими словами – лучших практик или характеристик хорошего проекта):<br>
- <b>Непрерывное бизнес-обоснование (Continued business justification).</b> Проект в PRINCE2 должен иметь обоснование для бизнеса, следовательно, каждый проект должен иметь Экономическое обоснование. Это означает, что причина, по которой проект был начат, должна иметь смысл с точки зрения бизнеса и должна присутствовать четкая окупаемость инвестиций.
<br>- <b>Обучение на опыте (Learn from experience).</b> Проектные команды PRINCE2 должны учиться на уроках, извлеченных из предыдущих проектов. Поэтому они должны проявлять инициативу по раскрытию предыдущих извлеченных уроков и принимать их во внимание на протяжении жизни проекта.
<br>- <b>Определенные роли и обязанности (Define roles and responsibilities).</b> Проект должен иметь определенные и согласованные роли и обязанности в рамках структуры организации.
<br>- <b>Управление по стадиям (Manage by stages).</b> Проект в PRINCE2 планируется, отслеживается и контролируется поэтапно, стадия за стадией.
<br>- <b>Управление по исключению (Manage by exception).</b> Управление по исключению используется каждым уровнем в организации проекта для управления нижележащим уровнем. Нижний уровень должен лишь уведомлять вышестоящий, если возникает большая проблема, которая находится за рамками установленных допусков(время, качество, стоимость, объем, риск, выгода).
<br>- <b>Фокус на продуктах (Focus on products).</b> Принцип «Фокус на продуктах» утверждает, что описание продукта должно быть написано так скоро и так ясно, как только это возможно для проекта, чтобы все заинтересованные стороны имели ясное представление о том, чего ожидать.
<br>- <b>Адаптация для соответствия проектной среде (Tailor to suit the project environment).</b> Проект PRINCE2 должен быть адаптирован, чтобы соответствовать размеру проекта, среде, сложности, важности, потенциалу и риску.

</p>