<p>Функции <sc_element sys_idtf="nrel_scrum_master">скрам-мастера</sc_element>:<br>

- следит за корректным применением принципов Agile и процессов Scrum;<br>
- организует работу команды и обеспечивает её всем необходимым;<br>
- защищает команду, несёт ответственность за её эффективность;<br>
Скрам-мастером может являться только один человек.<br>
Он организовывает работу команды проекта, но не вмешивается в её работу.<br>

Cкрам-мастер не назначает людей на задачи — это делает сама <sc_element sys_idtf="concept_development_team">команда</sc_element>;<br>
- мастер не заставляет людей делать работу — это ответственность команды;<br>
- мастер не указывает <sc_element sys_idtf="nrel_product_owner">владельцу продукта</sc_element>, какие требования он должен написать — это работа владельца продукта.
</p>