<p><sc_element sys_idtf="concept_scrum_team">Scrum команда</sc_element> состоит из: <br>
- <sc_element sys_idtf="nrel_product_owner">владельца продукта</sc_element>;<br>
- <sc_element sys_idtf="concept_development_team">команды разработки</sc_element>;<br>
- <sc_element sys_idtf="nrel_scrum_master">скрам-мастера</sc_element>.
</p>