<p>Роль и функции <sc_element sys_idtf="nrel_product_owner">владельца продукта</sc_element>:<br>
- упорядочение элементов <sc_element sys_idtf="concept_product_backlog">бэклога продукта</sc_element> для оптимизации достижения целей и поставленных задач;<br>
- оптимизация ценности работы, выполняемой <sc_element sys_idtf="concept_development_team">командой разработки</sc_element>;<br>
- коррекция приоритетов на каждом <sc_element sys_idtf = "concept_sprint">спринте</sc_element>;<br>
- владелец продукта несет персональную ответственность за ценность требований для рынка/пользователей;<br>
- отвечает за взаимодействие с рынком; <br>
- и др.</p>