<p>Главная цель метода – постоянное улучшение процессов выполнения проекта за счет прохождения 5 основных этапов.<br>
1) Определение – постановка задач; <br>
2) измерение – выбор показателей успеха; <br>
3) исследование – поиск решений установленных задач в срок; <br>
4) разработка – сам ход выполнения проекта; <br>
5) контроль – проверка и улучшение качества.

</p>