<p>
Суть <sc_element sys_idtf  = "concept_waterfall_methodology">поточного метода</sc_element> заключается в разделении хода проекта на поток следующих друг за другом <sc_element sys_idtf  = "task">задач</sc_element>, каждая из которых имеет четкую <sc_element sys_idtf  = "objective">цель</sc_element>  и определенные <sc_element sys_idtf  = "nrel_deadlines">сроки</sc_element>.
Порядок выполнения работ не меняется, члены команды приступают к следующему этапу только после полного завершения предыдущего.
</p>
