<p>
Водопадная модель подходит для проектов с фиксированным набором <sc_element sys_idtf  = "nrel_requirement">требований</sc_element>, детальным <sc_element sys_idtf  = "concept_technical_task">техническим заданием</sc_element>, конкретными <sc_element sys_idtf="nrel_deadlines">сроками выполнения</sc_element>.
</p>